@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box-shadow {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1f2937;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6b7280;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b2b1b1;
}

.icon {
  transform: scale(1);
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.98);
    box-shadow: 0 0 5px 2px #be185d;
  }

  70% {
    transform: scale(1);

    box-shadow: 0 0 24px 4px #be185d;
  }

  100% {
    transform: scale(0.98);

    box-shadow: 0 0 5px 2px #be185d;
  }
}

.slider-img .swiper-button-prev {
  left: 30;
  color: #be185d;
  background-color: #0f172a;
  width: 45px;
  height: 45px;
  opacity: 70%;
  border-radius: 50%;
  box-shadow: -2px 4px 15px -4px rgb(0, 0, 0);
  -webkit-box-shadow: -2px 4px 15px -4px rgb(0, 0, 0);
  -moz-box-shadow: -2px 4px 15px -4px rgb(0, 0, 0);
}

.slider-img .swiper-button-next {
  right: 30;
  opacity: 70%;
  color: #be185d;
  background-color: #0f172a;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: -2px 4px 15px -4px rgb(0, 0, 0);
  -webkit-box-shadow: -2px 4px 15px -4px rgb(0, 0, 0);
  -moz-box-shadow: -2px 4px 15px -4px rgb(0, 0, 0);
}

.slider-img .swiper-button-prev:after {
  font-size: 25px;
  font-weight: bold;
  padding-right: 3px;
}

.slider-img .swiper-button-next:after {
  font-size: 25px;
  font-weight: bold;
  padding-left: 3px;
}

.slider-img .swiper-button-next:active {
  background-color: #be185db7;
}

.slider-img .swiper-button-prev:active {
  background-color: #be185db7;
}

.slider-img .swiper-button-next:hover {
  opacity: 100%;
}

.slider-img .swiper-button-prev:hover {
  opacity: 100%;
}

.swiper-slide-thumb-active {
  border-radius: 10px;
  background-color: #374151;
}
